<?tpenney.xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/stocks?useSSL=false&amp;autoReconnect=true&amp;serverTimezone=EST</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>

        <property name="hibernate.connection.username">monty</property>
        <property name="hibernate.connection.password">some_pass</property>

        <property name="hibernate.show_sql">true</property>

        <mapping class="tpenney.model.PersonDAO"/>
        <mapping class="tpenney.model.PersonStocksDAO"/>
        <mapping class="tpenney.model.QuoteDAO"/>
        <mapping class="tpenney.model.StockSymbolDAO"/>

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>
